@inherits UmbracoViewPage<IContentBlockViewModel<ExampleBlock>>

@{

    var imageColumn = Model.Content.Image.MediaUrl();
    if (imageColumn != null)
    {
        <div>
            <div class="min-h-100 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-square group-hover:opacity-75 lg:h-100">
                <img src="@imageColumn" alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
            </div>
        </div>
    }
}

