@inherits UmbracoViewPage<IContentBlockViewModel<ExampleBlock>>

<header>
    <div
            class="relative overflow-hidden bg-no-repeat bg-cover bg-center"
            style="
            background-position: 50%;
            background-image: url('https://tecdn.b-cdn.net/img/new/slides/146.webp');
            height: 550px;
        ">
         <div
            class="h-full w-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.75)">
                <partial name="ExampleHeader/_ExampleHeader" />
            </div>
        </div>
</header>
