@inherits UmbracoViewPage<IContentBlockViewModel<ExampleBlock>>

<header>
    <div
            class="relative overflow-hidden bg-no-repeat bg-cover bg-center"
            style="
            background-color: blue;
            height: 550px;
        ">
        <partial name="ExampleHeader/_ExampleHeader" />
    </div>
</header
