@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="bg-light-gray">
    <div class="container pt-24 mx-auto px-4 text-gray-900 h-full">
        Prezzo ©@DateTime.Now.Year
    </div>
</div>