@{
	Layout = "MasterPage.cshtml";
}
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@inject IContentBlockRenderer Renderer

@await Renderer.Render(Model.PerplexBlocks, Html.PartialAsync)

	<div class="container mx-auto px-4  text-gray-900">
			<div class="mt-24 grid grid-cols-1 lg:grid-cols-3 gap-x-12 gap-y-12">
			@{
				var items = Model.Value<IEnumerable<IPublishedElement>>("ImageColumns");

					if (items != null) {
						foreach (var item in items)
						{
							var title = item.Value<string>("ContentTitle");
							var description = item.Value<string>("ContentCopy");
							var image = item.Value<IPublishedContent>("ContentImage");
							@:<div class="mt-6">					
								@:<div class="group relative">

									if (image != null)
										{
											<div class="min-h-80 aspect-2/1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-4/3 group-hover:opacity-75 lg:h-80">
												<img src="@image.Url()" alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
											</div>
										}

									if (!string.IsNullOrEmpty(title) || !string.IsNullOrEmpty(description)) {
										@:<div class="mt-4">

										if (!string.IsNullOrEmpty(title))
											{
												<h3>@title</h3>
											}
										if (!string.IsNullOrEmpty(description))
											{
												<div>
													@Html.Raw(description)
												</div>
											}

										@:</div>
									}
								@:</div>
							@:</div>
						}
					}
			}
		</div>
	</div>