@{
	Layout = "MasterPage.cshtml";
}
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Restaurant>
            
<div class="container h-full mx-auto px-4 text-gray-900">
	<div class="grid h-full grid-cols-1 gap-x-6 gap-y-10">			
		@Model.Value("title")
	</div>
</div>