@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Restaurants>
@inject IContentBlockRenderer Renderer

@await Renderer.Render(Model.PerplexBlocks, Html.PartialAsync)
<div>
	Here is my search
</div>






@{
	var selection = Umbraco.Content(Guid.Parse("506420f8-c631-42f0-8a35-76e20a0ea8bc"))
    .ChildrenOfType("restaurant")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name);
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url()">@item.Name()</a>
		</li>
	}
</ul>

